* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #ffe5e5;
    background-image: url('images/ara.jpeg'); /* Cambia 'images/ara.jpeg' a la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0; /* Elimina los márgenes predeterminados */
    font-family: Arial, sans-serif; /* Opcional: Establece una fuente predeterminada */
    display: flex; /* Usamos flexbox en el body para el layout */
    justify-content: center; /* Centra el contenedor horizontalmente */
    align-items: flex-end; /* Alinea el contenedor en la parte inferior */
    padding-bottom: 20px; /* Ajusta este valor para crear un espacio entre el contenido y el borde inferior */
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    width: 100%; /* Asegura que el contenedor no se desborde */
    padding: 20px;
    color: white; /* Cambia el color del texto si es necesario para que contraste con el fondo */
    /*background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejor legibilidad */
    border-radius: 10px; /* Opcional: Agrega bordes redondeados al contenedor */
}

.text-with-border {
    color: white; /* Color del texto */
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Color del borde */
}

.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0, 0, 0.3);
}
